body{
  border: 20px solid #bdc3c7;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 700px;
  width: 80%;
  margin:20px auto;
  padding: 20px;

}

.date{
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 16px;
}

.post{
  margin-bottom: 20px;
}

h2{
  font-size: 2.0rem;
  color: #2c3e50;
}

p:nth-of-type(1){
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
