/* Elements */
li{

}
/* class */
.hello{

}
/* id */
#name{

}

/* Star */
*{

}

/* Descendant Selector */
li a{

}

/* Adjacent Selector */
h4 + ul {

}

/* Atribute Selector */
input [type="checkbox"]{
  background: blue;
}

/* nth of type */
ul:nth-of-type(3){
  background: purple;
}
