body{
  background-color: #dfe6e9;
  font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}

h1{
  color: #00b894;
}

li{
  border: 2px solid red;
}

#thirdTodo {
  background-color: yellow;
}

.completed{
  text-decoration:line-through;
}
